<div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="mp4/bg.mp4" type="video/mp4">
  </video>

  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="masthead-content text-white py-5 py-md-0">
            <h1 class="mb-3">Coming Soon!</h1>
            <div class="input-group input-group-newsletter">
              <input type="email" class="form-control" placeholder="Enter email..." aria-label="Enter email..." aria-describedby="basic-addon">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button">Notify Me!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
      <li class="list-unstyled-item">
        <a href="https://github.com/jamessom" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="https://www.linkedin.com/in/jamessomqueiroz/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <% if user_signed_in? %> 
        <li class="list-unstyled-item">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>