<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back!</h3>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-label-group">
                  <%= f.email_field :email, class: "form-control", placeholder: "Email address", autofocus: true, autocomplete: "email", required: true %>
                  <%= f.label :email %>
                </div>

                <div class="form-label-group">
                  <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "current-password", required: true %>
                  <%= f.label :password %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="custom-control custom-checkbox mb-3">
                    <%= f.check_box :remember_me, class: "custom-control-input" %>
                    <%= f.label :remember_me, class: "custom-control-label", title: "Remember password" %>
                  </div>
                <% end %>

                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
              <% end %>
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


